@import "catppuccin-mocha.css";

* {
    font-family: Cantarell, Maple Mono NF;
    font-weight: bolder;
    font-size: 14px;
}

window#waybar {
    background-color: @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    color: @blue;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @crust;
    border: @crust;
}

#workspaces button {
    padding: 0 5px;
    color: @text;
    margin: 4px 0 4px 6px;
    transition: color 200ms ease-in-out;
}

#workspaces button.selected {
    color: @blue;
}

#waybar .sway-workspaces button.active,
#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#clock,
#network,
#pulseaudio,
#custom-power,
#tray,
#scratchpad {
    padding: 0 9px;
    color: @text;
    border-radius: 15px;
    margin: 5px 0;
}

#pulseaudio {
  padding-left: 0;
  padding-right: 4px;
}

#window,
#workspaces,
#language,
#custom-weather {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, reduce left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 2px;
}

#clock {
  color: @text;
}

#pulseaudio {
  font-size: 20px;
  color: @mauve;
}

#pulseaudio.muted {
  color: @surface2;
}

#network {
  font-size: 18px;
  color: @blue;
}

#network.disconnected {
  color: @surface2;
}

#custom-power {
  font-size: 18px;
  color: @maroon;
  margin-right: 5px;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
